@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 245 100% 13%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply content;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: hsl(var(--foreground)) !important;
}

.input-error {
  @apply border border-rose-500;
}

.input-error-message {
  @apply text-sm text-rose-500;
}

.admin-button {
  @apply bg-secondary text-primary;
}

.admin-button:hover {
  @apply hover:bg-white;
}

.wavy-background {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1200 120"><path fill="%232193b0" fill-opacity="0.1" d="M0,64L120,80C240,96,480,128,720,122.7C960,117,1200,75,1320,53.3L1440,32L1440,120L1320,120C1200,120,960,120,720,120C480,120,240,120,120,120L0,120Z"></path><path fill="%236dd5ed" fill-opacity="0.2" d="M0,32L120,48C240,64,480,96,720,90.7C960,85,1200,43,1320,21.3L1440,0L1440,120L1320,120C1200,120,960,120,720,120C480,120,240,120,120,120L0,120Z"></path></svg>');
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes moveHero {
  0% {
    background-position-y: 0;
  }
  50% {
    background-position-y: 100%;
  }
  100% {
    background-position-y: 0;
  }
}

#hero {
  width: 100%;
  aspect-ratio: 960/540;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 108px);
  animation: moveHero 17s linear infinite;
  @apply hero-layer-mobile;
}

.hero-layer-mobile {
  background-image: url("../../public/hero-bg-mobile.svg");
}

.hero-layer {
  background-image: url("../../public/hero-bg.svg");
}

@media screen and (min-width: 640px) {
  #hero {
    @apply hero-layer;
  }
}

.image-placeholder {
  aspect-ratio: 570.37/492.44;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
  @apply placeholder-layer;
}

@media screen and (min-width: 768px) {
  .image-placeholder {
    background-size: contain;
  }
}

@media screen and (min-width: 1024px) {
  .image-placeholder {
    background-size: contain;
  }
}

.placeholder-layer {
  background-image: url("../../public/hero-logo-2.svg");
}

.hero-text {
  @apply text-black md:text-white lg:text-black;
}

@keyframes moveBackground {
  0% {
    background-position-y: 0;
  }
  50% {
    background-position-y: 100%;
  }
  100% {
    background-position-y: 0;
  }
}

.content {
  background-image: url("../../public/content-bg-3.svg");
  width: 100%;
  background-size: cover;
  background-repeat: repeat-y;
  animation: moveBackground 180s linear infinite;
}

@media screen and (max-width: 599px) {
  input,
  select,
  textarea,
  label {
    font-size: 16px !important;
  }

  .content {
    background-size: 100%;
    animation: moveBackground 360s linear infinite;
  }
}

.animated-button {
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

.shine {
  position: relative;
}

.shine::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  top: 0;
  left: -100%;
  transition: left 0.5s;
  animation-fill-mode: forwards;
  z-index: 99999;
}

.shine:hover::before {
  left: 100%;
}

.shine:not(:hover)::before {
  opacity: 0;
}
